{% extends '::templateAll.html.twig' %}

{% block body -%}    
    {% block container %}

        <div class="row">

            <div class="col-md-3">
               <p class="lead">HelpDesk</p>
                <div class="list-group">
                    <a href="{{path('cliente_home', {'userId': usuario.id } )}}" class="list-group-item">Início</a>
                    <a href="{{path('login')}}" class="list-group-item">Sair</a>
                </div>
                
                <p class="lead">Chamadas</p>
                <div class="list-group">
                    <a href="{{path('abrir_chamada', { 'userId': usuario.id } )}}" class="list-group-item">Abrir Chamada</a>
                    <a href="#" class="list-group-item">Minhas Chamadas</a>
                    <a href="{{path('todas_chamadas_admin', { 'userId': usuario.id })}}" class="list-group-item">Ver Todas Chamadas</a>
                    <a href="{{path('sem_prioridade', { 'userId': usuario.id } )}}" class="list-group-item">Sem Prioridade</a>
                    <a href="{{path('chamadas_em_aberto', { 'userId': usuario.id } )}}" class="list-group-item">Em Aberto</a>
                    <a href="{{path('chamadas_em_andamento', { 'userId': usuario.id } )}}" class="list-group-item">Em Andamento</a>
                    <a href="{{path('chamadas_finalizadas', { 'userId': usuario.id } )}}" class="list-group-item">Finalizadas</a>
                    <a href="{{path('login')}}" class="list-group-item">Sair</a>
                </div>
            </div>


            <div class="col-md-9">
                <p class="lead">Em Andamento</p>
                
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Data / Horário</th>
                            <th>Descriçao do Problema</th>
                            <th>Observações</th>
                            <th>Solicitante</th>
                            <th>Status da Chamada</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody align="center">
                        {% for entity in entities|reverse %}
                            <tr>
                                <td width="5%"><a href="{{ path('chamadas_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>

                                <td width="15%">{% if entity.horaData %}{{ entity.horaData|date('d-m-Y H:i:s') }}{% endif %}</td>

                                <td width="20%" align="left">{{ entity.descricaoProblema|slice(0, 25) }}<a href="{{ path('chamadas_show', { 'id': entity.id }) }}"><b>...</b></a></td>

                                <td width="20%" align="left">{{ entity.observacoes|slice(0, 20) }}<a href="{{ path('chamadas_show', { 'id': entity.id }) }}"><b>...</b></a></td>

                                <td width="15%">{{ entity.cliente }}</td>

                                {% if entity.chamadaStatus=="Em Aberto" %}
                                    <td align="center"><label  class="label label-primary">{{ entity.chamadaStatus }}</label></td>

                                {% elseif entity.chamadaStatus=="Em Andamento" %}
                                    <td align="center"><label  class="label label-warning">{{ entity.chamadaStatus }}</label></td>
                                        {#                                        {% endif %}#}

                                {% elseif entity.chamadaStatus=="Concluída" %}
                                    <td align="center"><label  class="label label-success">{{ entity.chamadaStatus }}</label></td>

                                {% elseif entity.chamadaStatus=="Cancelada" %}
                                    <td align="center"><label  class="label label-danger">{{ entity.chamadaStatus }}</label></td>
                                    {% endif %}

                                <td>
                                    <a class="btn btn-default" href="{{ path('chamadas_show', { 'id': entity.id }) }}">Detalhes</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {#                </div>#}
            </div>
        </div>
    {% endblock %}

{% endblock %}
