{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Chamadas list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Horadata</th>
                <th>Descricaoproblema</th>
                <th>Observacoes</th>
                <th>Contatoadicional1</th>
                <th>Contatoadicional2</th>
                <th>Descricaosolucao</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('chamadas_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.horaData %}{{ entity.horaData|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.descricaoProblema }}</td>
                <td>{{ entity.observacoes }}</td>
                <td>{{ entity.contatoAdicional1 }}</td>
                <td>{{ entity.contatoAdicional2 }}</td>
                <td>{{ entity.descricaoSolucao }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('chamadas_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('chamadas_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('chamadas_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
