{% extends '::templateAll.html.twig' %}

{% block container %}

        <div class="col-md-9">
            {{form_start(form, { 'attr': {'class':'form-horizontal well'} })}}
            <fieldset>
                <legend>Iniciar uma Chamada</legend>
                <div class="col-lg-12">
                    <label class="control-label" for="input01">Solicitante: </label>
                    <div class="controls">
                        <input class="form-control input-xlarge" value="{{cliente.nome}}" disabled="true">
                        <p class="help-block">Nome do usuário solicitante.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="control-label" for="input02">E-mail principal: </label>
                    <div class="controls">
                        <input class="form-control" id='username' name='username'  value="{{cliente.username}}" disabled="true">
                        <p class="help-block">Email principal do solicitante.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="control-label" for="input03">Telefone/Ramal: </label>
                    <div class="controls">
                        <input class="form-control" value="{{cliente.telefone}}" disabled="true">
                        <p class="help-block">Telefone ou ramal principal do solicitante.</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <label class="control-label" for="descricaoProblema">Descrição:</label>
                    <div class="controls">
                        {{form_widget(form.descricaoProblema)}}
                        {{form_errors(form.descricaoProblema) }}
                    </div>
                    <p class="help-block">Escreva uma breve descrição do problema ocorrido.</p>
                </div>
                <div class="col-lg-6">
                    <label class="control-label" for="select01">Local onde ocorreu o problema:</label>
                    <div class="controls">
                        {{form_widget(form.chamadaLocal,{'attr':{'required':'required'} }) }}
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="control-label" for="select02">Categoria do problema:</label>
                    <div class="controls">
                        {{ form_widget(form.chamadaCategoria,{'attr':{'required':'required'} }) }}
                    </div>
                </div>
                <div class="col-lg-12">
                    <label class="control-label" for="textarea">Observações:</label>
                    <div class="controls">
                        {{ form_widget(form.observacoes) }}
                        <p class="help-block">Observações quanto ao problema ocorrido. (Exemplo: uma categoria não listada)</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="control-label" for="input04">Contato adicional(Celular): </label>
                    <div class="controls">
                        {{ form_widget(form.contatoAdicional1, {'attr':{'placeholder':'(99)9999-9999', 'onkeypress':'mascara(this);'} }) }}
                        <p class="help-block">Contato adicional caso não se consiga entrar em contato por outros meios.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="control-label" for="input05">E-mail adicional para contato: </label>
                    <div class="controls">
                        {{ form_widget(form.contatoAdicional2, {'attr':{'placeholder':'email@exemplo.com'} }) }}
                        <p class="help-block">Contato adicional caso haja necessidade de comunicação com o solicitante.</p>
                    </div>
                </div>

                <hr>

                <div class="col-lg-6">
                    <div class="form-actions">
                        {{ form_widget(form.submit, { 'attr' : {'class': 'btn btn-primary'}, 'label': 'Salvar' }) }}
                        <button type="reset" class="btn btn-warning">Limpar</button>
                    </div>
                </div>
                {{ form_widget(form.chamadaNivel, { 'attr':{'style':'display: none;' } }) }}
                {{ form_widget(form.descricaoSolucao, { 'attr':{'style':'display: none;' } }) }}
                {{ form_widget(form.chamadaStatus, { 'attr':{'style':'display: none;'} }) }}
            </fieldset>
            {{ form_end(form) }}
        </div>

    <script type="text/javascript">
        function mascara(telefone) {
            telefone.value = telefone.value.replace(/\D/g, "");             //Remove tudo o que não é dígito
            telefone.value = telefone.value.replace(/^(\d{2})(\d)/g, "($1) $2"); //Coloca parênteses em volta dos dois primeiros dígitos
            telefone.value = telefone.value.replace(/(\d)(\d{4})$/, "$1-$2");    //Coloca hífen entre o quarto e o quinto dígitos
             }
    </script>
{% endblock %}
