{% extends '::templateAll.html.twig' %}

{% block body -%}    
    {% block container %}

        <div class="row">

            <div class="col-md-3">
                <p class="lead">HelpDesk</p>
                <div class="list-group">
                    <a href="{{path('admin_home', {'userId': usuario.id } )}}" class="list-group-item">Início</a>
                    <a href="{{path('login')}}" class="list-group-item">Sair</a>
                </div>
                
                <p class="lead">Chamadas</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Meus Chamados</a>
                    <a href="{{path('todas_chamadas_admin', { 'userId': usuario.id })}}" class="list-group-item">Ver Todas Chamadas</a>
                    <a href="{{path('sem_prioridade', { 'userId': usuario.id } )}}" class="list-group-item">Sem Prioridade</a>
                    <a href="{{path('chamadas_em_aberto', { 'userId': usuario.id } )}}" class="list-group-item">Em Aberto</a>
                    <a href="{{path('chamadas_em_andamento', { 'userId': usuario.id } )}}" class="list-group-item">Em Andamento</a>
                    <a href="{{path('chamadas_finalizadas', { 'userId': usuario.id } )}}" class="list-group-item">Finalizadas</a>
                    <a href="{{path('login')}}" class="list-group-item">Sair</a>
                </div>
            </div>

            <div class="col-md-9">

                <div class="thumbnail">
                    <img class="img-responsive" src="{{asset('bundles/helpdesk/images/logoicea.jpg')}}" alt="">
                    <div class="caption-full">
                        <br><br>

                        <a class="list-group-item lead well-sm"><label>Nome:</label> {{usuario.nome}}</a>
                        <a class="list-group-item lead well-sm"><label>E-mail:</label> {{usuario.username}}</a>
                        {#<a class="list-group-item lead well-sm"><label>Total de Ordens Solicitadas:</label> {{chamadas|length}}</a>
                        <a class="list-group-item"><label>Em Aberto:</label> ~</a>
                        <a class="list-group-item"><label>Em Andamento:</label> ~</a>
                        <a class="list-group-item"><label>Finalizadas:</label> ~</a>#}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}
