{% extends '::templateAll.html.twig' %}

{% block container %}
    <div class="col-md-9">
        <p class="lead">Todas Chamadas</p>

        <div class="col-md-12">
            <form class="form form-control-static" action="{{path('busca')}}" method="post">
                <div name="filtro" class="panel">
                    <div class="col-md-3">
                        Opções de filtro:
                        <select id="tipoFiltro" name="tipoFiltro" class="form-control" onchange="mfiltro(this);" required="required" >
                            <option value="0"></option>
                            <option value="1">A partir de</option>
                            <option value="2">Antes de</option>
                            <option value="3">Dia</option>
                            <option value="4">Categoria</option>
                            <option value="5">Local</option>
                            <option value="6">Prioridade</option>
                            <option value="7">Responsável</option>
                            <option value="8">Solicitante</option>
                            <option value="9">Status</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        Informe os parametros do filtro que deseja:
                        <input type="text" class="form-control input-xlarge" name="valorFiltro" id="valorFiltro" required="required"/>
                    </div>
                    <div class="col-md-3">
                        <br />
                        <button type="submit" id="filtro_submit" name="filtro_submit" class="btn btn-default">Filtrar</button>  
                    </div>
                </div>
            </form>
        </div>
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>Data / Horário</th>
                    <th>Descriçao</th>
                    <th>Solicitante</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities|reverse %}
                    <tr>
                        <td width="15%">{% if entity.horaData %}{{ entity.horaData|date('d-m-Y H:i:s') }}{% endif %}</td>

                        <td width="40%" align="left">{{ entity.descricaoProblema|slice(0, 50) }}<a href="{{ path('chamadas_show', { 'id': entity.id }) }}"><b>...</b></a></td>

                        <td width="15%">{{ entity.cliente }}</td>

                        {% if entity.chamadaStatus=="Em Aberto" %}
                            <td ><label  class="label label-primary">{{ entity.chamadaStatus }}</label></td>

                        {% elseif entity.chamadaStatus=="Em Andamento" %}
                            <td ><label  class="label label-warning">{{ entity.chamadaStatus }}</label></td>
                                {#                                        {% endif %}#}

                        {% elseif entity.chamadaStatus=="Concluída" %}
                            <td ><label  class="label label-success">{{ entity.chamadaStatus }}</label></td>

                        {% elseif entity.chamadaStatus=="Cancelada" %}
                            <td <label  class="label label-danger">{{ entity.chamadaStatus }}</label></td>
                            {% endif %}

                        <td>
                            <a class="btn btn-default" href="{{ path('chamadas_show', { 'id': entity.id }) }}">Detalhes</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {#                </div>#}
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function($) {

            $("#tipoFiltro").change(function() {
                alert($("#tipoFiltro option:selected").text());
            });

        });
        function mfiltro(filtro) {
            alert("TESTE");
            // Altera o valor do input valorFiltro de acordo com a opção escolhida
            if (filtro.options[filtro.selectedIndex].value == 1) {
                alert("TESTE");
                document.getElementById("valorFiltro").value = "dd-mm-AAAA";
            }
            switch (filtro.options[filtro.selectedIndex].value) {
                case 1:
                    document.getElementById("valorFiltro").value = "dd-mm-AAAA";
                    break;
        }
    </script>
{% endblock %}