{% extends '::templateAll.html.twig' %}

{% block container %}

        <p class="lead">Todas Chamadas</p>

        <div class="col-md-12">
            <form class="form form-control-static" action="{{path('busca')}}" method="post">
                <div name="filtro" class="panel">
                    <div class="col-md-3">
                        Opções de filtro:
                        <select id="tipoFiltro" name="tipoFiltro" class="form-control" required="required" >
                            <option value="0"></option>
                            <option value="1">A partir de</option>
                            <option value="2">Antes de</option>
                            <option value="3">Dia</option>
                            <option value="4">Categoria</option>
                            <option value="5">Local</option>
                            <option value="6">Prioridade</option>
                            <option value="7">Responsável</option>
                            <option value="8">Solicitante</option>
                            <option value="9">Status</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        Informe os parametros do filtro que deseja:
                        <input type="text" class="form-control input-xlarge" name="valorFiltro" id="valorFiltro" required="required"/>
                    </div>
                    <div class="col-md-3">
                        <br />
                        <button type="submit" id="filtro_submit" name="filtro_submit" class="btn btn-default">Filtrar</button>  
                    </div>
                </div>
            </form>
        </div>

        {% if erro == "" %}
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Data / Horário</th>
                        <th>Descriçao do Problema</th>
                        <th>Observações</th>
                        <th>Solicitante</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody align="center">
                    {% for entity in entities|reverse %}
                        <tr>
                            <td width="15%">{% if entity.horaData %}{{ entity.horaData|date('d-m-Y H:i:s') }}{% endif %}</td>

                            <td width="20%" align="left">{{ entity.descricaoProblema|slice(0, 25) }}<a href="{{ path('chamadas_show', { 'id': entity.id }) }}"><b>...</b></a></td>

                            <td width="20%" align="left">{{ entity.observacoes|slice(0, 20) }}<a href="{{ path('chamadas_show', { 'id': entity.id }) }}"><b>...</b></a></td>

                            <td width="15%">{{ entity.cliente }}</td>

                            {% if entity.chamadaStatus=="Em Aberto" %}
                                <td align="center"><label  class="label label-primary">{{ entity.chamadaStatus }}</label></td>

                            {% elseif entity.chamadaStatus=="Em Andamento" %}
                                <td align="center"><label  class="label label-warning">{{ entity.chamadaStatus }}</label></td>
                                    {#                                        {% endif %}#}

                            {% elseif entity.chamadaStatus=="Concluída" %}
                                <td align="center"><label  class="label label-success">{{ entity.chamadaStatus }}</label></td>

                            {% elseif entity.chamadaStatus=="Cancelada" %}
                                <td align="center"><label  class="label label-danger">{{ entity.chamadaStatus }}</label></td>
                                {% endif %}

                            <td>
                                <a class="btn btn-default" href="{{ path('chamadas_show', { 'id': entity.id }) }}">Detalhes</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div id="erro" class="alert" >
                <p class="lead label label-danger">
                    {{erro}}
                </p>
                <br />
                <p class="lead label label-danger">
                    {{solucao}}
                </p>
            </div>
        {% endif %}
{% endblock %}
