{% extends '::templateAll.html.twig' %}

{% block menu %}
    <div class="col-md-3">
        <p class="lead">HelpDesk</p>
        <div class="list-group">
            <a href="{{path('home')}}" class="list-group-item">Início</a>
            <a href="#" class="list-group-item">Usuários</a>
            <a href="{{path('sair')}}" class="list-group-item">Sair</a>
        </div>

        <p class="lead">Chamados</p>
        <div class="list-group">
            <a href="#" class="list-group-item">A Concluir</a>
            <a href="{{path('todas_chamadas')}}" class="list-group-item">Ver Todos</a>
            <a href="{{path('sem_prioridade')}}" class="list-group-item">Sem Prioridade</a>
            <a href="{{path('chamadas_em_aberto')}}" class="list-group-item">Em Aberto</a>
            <a href="{{path('chamadas_em_andamento')}}" class="list-group-item">Em Andamento</a>
            <a href="{{path('chamadas_finalizadas')}}" class="list-group-item">Finalizados</a>
            <a href="#" class="list-group-item">Cancelados</a>
        </div>
    </div>
{% endblock %}  
{% block container %}

    <div class="col-md-9">
        <p class="lead">Em Andamento</p>

        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>Data / Horário</th>
                    <th>Descriçao</th>
                    <th>Observações</th>
                    <th>Solicitante</th>
                    <th></th>
                </tr>
            </thead>
            <tbody align="center">
                {% for entity in entities|reverse %}

                        <td width="15%">{% if entity.horaData %}{{ entity.horaData|date('d-m-Y H:i:s') }}{% endif %}</td>

                        <td width="20%" align="left">{{ entity.descricaoProblema|slice(0, 25) }}<a href="{{ path('chamadas_show', { 'id': entity.id }) }}"><b>...</b></a></td>

                        <td width="20%" align="left">{{ entity.observacoes|slice(0, 20) }}<a href="{{ path('chamadas_show', { 'id': entity.id }) }}"><b>...</b></a></td>

                        <td width="15%">{{ entity.cliente }}</td>

                        <td>
                            <a class="btn btn-default" href="{{ path('chamadas_show', { 'id': entity.id }) }}">Detalhes</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {#                </div>#}
    </div>
{% endblock %}
